In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#key factor unemployment rate that influence house price from fred
un_emp_rate=pd.read_csv("C:\\Users\\Ravi\\Downloads\\UNRATE.csv")
un_emp_rate

           DATE  UNRATE
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
906  2023-07-01     3.5
907  2023-08-01     3.8
908  2023-09-01     3.8
909  2023-10-01     3.9
910  2023-11-01     3.7

[911 rows x 2 columns]

In [3]:
#consumer price index for all urban consumers
con_pr=pd.read_csv("C:\\Users\\Ravi\\Downloads\\CPIAUCSL.csv")
con_pr

           DATE  CPIAUCSL
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
917  2023-06-01   303.841
918  2023-07-01   304.348
919  2023-08-01   306.269
920  2023-09-01   307.481
921  2023-10-01   307.619

[922 rows x 2 columns]

In [4]:
#real gross domestic product
rgdp=pd.read_csv("C:\\Users\\Ravi\\Downloads\\GDPC1.csv")
rgdp

           DATE  GDPC1_CCH
0    1947-04-01   -0.26558
1    1947-07-01   -0.20509
2    1947-10-01    1.55385
3    1948-01-01    1.49481
4    1948-04-01    1.63887
..          ...        ...
301  2022-07-01    0.65646
302  2022-10-01    0.63341
303  2023-01-01    0.55484
304  2023-04-01    0.50982
305  2023-07-01    1.25646

[306 rows x 2 columns]

In [5]:
#Industrial production
ind_pro=pd.read_csv("C:\\Users\\Ravi\\Downloads\\INDPRO.csv")
ind_pro

            DATE    INDPRO
0     1919-01-01    4.8665
1     1919-02-01    4.6514
2     1919-03-01    4.5170
3     1919-04-01    4.5976
4     1919-05-01    4.6245
...          ...       ...
1253  2023-06-01  102.3030
1254  2023-07-01  103.2670
1255  2023-08-01  103.2927
1256  2023-09-01  103.3643
1257  2023-10-01  102.7081

[1258 rows x 2 columns]

In [6]:
#All employees,Total nonfarm
pay_roll=pd.read_csv("C:\\Users\\Ravi\\Downloads\\PAYEMS.csv")
pay_roll

            DATE  PAYEMS
0     1939-01-01   29923
1     1939-02-01   30100
2     1939-03-01   30280
3     1939-04-01   30094
4     1939-05-01   30299
...          ...     ...
1014  2023-07-01  156311
1015  2023-08-01  156476
1016  2023-09-01  156738
1017  2023-10-01  156888
1018  2023-11-01  157087

[1019 rows x 2 columns]

In [7]:
#National home price index
n_h_p=pd.read_csv("C:\\Users\\Ravi\\Downloads\\CSUSHPISA.csv")
n_h_p

           DATE  CSUSHPISA
0    1987-01-01     63.965
1    1987-02-01     64.424
2    1987-03-01     64.736
3    1987-04-01     65.132
4    1987-05-01     65.563
..          ...        ...
436  2023-05-01    302.566
437  2023-06-01    304.593
438  2023-07-01    306.767
439  2023-08-01    309.155
440  2023-09-01    311.175

[441 rows x 2 columns]

In [55]:
#home price index of all states
h_p_s=pd.read_csv("C:\\Users\\Ravi\\Downloads\\fredgraph.csv")
h_p_s

,DATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA
0,1987-01-01,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
1,1987-02-01,64.424,63.804972,.,67.574198,59.894861,68.919119,.,76.043687,.,41.444215,55.215119,47.302675
2,1987-03-01,64.736,64.425674,.,67.850132,60.401073,69.388052,.,77.237075,.,41.415249,55.487803,47.840213
3,1987-04-01,65.132,65.063393,.,68.186064,61.324334,69.463461,.,78.281527,.,41.273786,56.049778,47.984058
4,1987-05-01,65.563,65.815103,.,67.927091,62.030915,69.746282,.,79.675331,.,41.395046,56.462099,48.305065
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,2023-05-01,302.566,321.821685,174.601370604909,270.529911,404.548672,406.390260,232.76201943772801,282.171774,311.169948216171,320.723141,400.509053,341.498016
437,2023-06-01,304.593,324.819718,175.130261785276,271.884431,407.927087,410.120920,233.86041710440398,285.709603,313.171320628787,322.023812,406.324569,344.285430
438,2023-07-01,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360
439,2023-08-01,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972
440,2023-09-01,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352

In [9]:
#u.s.national home price index
u_s_h=pd.read_csv("C:\\Users\\Ravi\\Downloads\\alfredgraph.csv")
u_s_h

           DATE  CSUSHPISA_20231031  CSUSHPISA_20231128
0    1989-04-01              75.086              75.086
1    1989-05-01              75.306              75.306
2    1989-06-01              75.479              75.479
3    1989-07-01              75.657              75.657
4    1989-08-01              75.835              75.835
..          ...                 ...                 ...
404  2022-12-01             297.471             297.413
405  2023-01-01             297.025             297.030
406  2023-02-01             297.464             297.537
407  2023-03-01             298.539             298.637
408  2023-04-01             300.198             300.213

[409 rows x 3 columns]

In [10]:
un_emp_rate.DATE=pd.to_datetime(un_emp_rate.DATE)
con_pr.DATE=pd.to_datetime(con_pr.DATE)
ind_pro.DATE=pd.to_datetime(ind_pro.DATE)
pay_roll.DATE=pd.to_datetime(pay_roll.DATE)
n_h_p.DATE=pd.to_datetime(h_p_s.DATE)
h_p_s.DATE=pd.to_datetime(h_p_s.DATE)
u_s_h.DATE = pd.to_datetime(u_s_h.DATE)

In [11]:
## creating the function to convert the date time format of all the parameters to YYYY-MM-DD

def date_col(arr):
    arr = arr.str.replace(" ","-")
    for i in range(len(arr)):
        arr[i]=dt.datetime.strptime(arr[i], '%d-%m-%y').strftime('%Y-%m-%d')
    return arr

In [12]:
files=["UNRATE","CPIAUCSL","INDPRO","PAYEMS","CSUSHPISA","fredgraph","alfredgraph"]
for i in range(len(files)-1):
    temp=pd.read_csv(files[i]+'.csv')
    if len(temp.iloc[0,0])==8:
        temp.iloc[:,0] = date_col(temp.iloc[:,0])
    temp.DATE=pd.to_datetime(temp.DATE)
    df=pd.merge(left=un_emp_rate,right=temp, left_on='DATE', right_on='DATE',how='left')

In [13]:
df

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA
0,1948-01-01,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1948-02-01,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1948-03-01,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1948-04-01,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948-05-01,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2023-07-01,3.5,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360
907,2023-08-01,3.8,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972
908,2023-09-01,3.8,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352
909,2023-10-01,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,2023-11-01,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape

(911, 14)

In [15]:
df.columns

Index(['DATE', 'UNRATE', 'CSUSHPISA', 'SPCS10RSA', 'DEXRSA', 'LVXRSA',
       'LXXRSA', 'MIXRSA', 'MNXRSA', 'NYXRSA', 'PHXRSA', 'POXRSA', 'SDXRSA',
       'SFXRSA'],
      dtype='object')

In [16]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
906    False
907    False
908    False
909    False
910    False
Length: 911, dtype: bool

In [17]:
df.duplicated().sum()

0

In [18]:
df.isna().sum().sum()

5640

In [19]:
df.isnull().sum()

DATE           0
UNRATE         0
CSUSHPISA    470
SPCS10RSA    470
DEXRSA       470
LVXRSA       470
LXXRSA       470
MIXRSA       470
MNXRSA       470
NYXRSA       470
PHXRSA       470
POXRSA       470
SDXRSA       470
SFXRSA       470
dtype: int64

In [20]:
df.bfill(axis=None, inplace=True, limit=None, downcast=None)

In [21]:
df.isnull().sum()

DATE         0
UNRATE       0
CSUSHPISA    2
SPCS10RSA    2
DEXRSA       2
LVXRSA       2
LXXRSA       2
MIXRSA       2
MNXRSA       2
NYXRSA       2
PHXRSA       2
POXRSA       2
SDXRSA       2
SFXRSA       2
dtype: int64

In [22]:
df

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA
0,1948-01-01,3.4,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
1,1948-02-01,3.8,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
2,1948-03-01,4.0,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
3,1948-04-01,3.9,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
4,1948-05-01,3.5,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2023-07-01,3.5,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360
907,2023-08-01,3.8,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972
908,2023-09-01,3.8,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352
909,2023-10-01,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,2023-11-01,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911 entries, 0 to 910
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       911 non-null    datetime64[ns]
 1   UNRATE     911 non-null    float64
 2   CSUSHPISA  909 non-null    float64
 3   SPCS10RSA  909 non-null    float64
 4   DEXRSA     909 non-null    object
 5   LVXRSA     909 non-null    float64
 6   LXXRSA     909 non-null    float64
 7   MIXRSA     909 non-null    float64
 8   MNXRSA     909 non-null    object
 9   NYXRSA     909 non-null    float64
 10  PHXRSA     909 non-null    object
 11  POXRSA     909 non-null    float64
 12  SDXRSA     909 non-null    float64
 13  SFXRSA     909 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 106.8+ KB

In [24]:
for i in df.columns:
    print(df[i].value_counts())

1948-01-01    1
2000-03-01    1
1998-01-01    1
1998-02-01    1
1998-03-01    1
             ..
1973-08-01    1
1973-09-01    1
1973-10-01    1
1973-11-01    1
2023-11-01    1
Name: DATE, Length: 911, dtype: int64
5.4     34
5.7     33
5.6     32
3.8     30
5.9     29
        ..
9.2      1
2.8      1
10.3     1
8.9      1
11.0     1
Name: UNRATE, Length: 83, dtype: int64
63.965     469
76.056       2
140.010      1
136.533      1
136.607      1
          ...
93.672       1
93.208       1
92.712       1
92.199       1
311.175      1
Name: CSUSHPISA, Length: 440, dtype: int64
63.103814     469
154.025704      1
149.644566      1
149.985472      1
150.377271      1
             ...
90.710068       1
90.137675       1
89.731975       1
89.345365       1
333.074427      1
Name: SPCS10RSA, Length: 441, dtype: int64
.                     516
87.780933026772         1
85.040820437585         1
84.141787044564         1
82.45419792057601       1
                     ...
110.852825913673        1
110.412811853156        1
109.66103782456601      1
109.142066853937        1
180.535270393171        1
Name: DEXRSA, Length: 394, dtype: int64
66.418966     469
98.210014       1
90.689057       1
90.522300       1
90.750507       1
             ...
96.249927       1
95.634375       1
95.292157       1
94.880912       1
281.363656      1
Name: LVXRSA, Length: 441, dtype: int64
59.426224     469
170.691112      1
162.114591      1
162.458420      1
162.807766      1
             ...
92.140086       1
91.781235       1
91.293912       1
90.774100       1
419.828683      1
Name: LXXRSA, Length: 441, dtype: int64
68.547905     469
139.005277      1
140.737408      1
139.089388      1
137.740411      1
             ...
93.945365       1
93.568893       1
93.371797       1
93.140755       1
423.189720      1
Name: MIXRSA, Length: 441, dtype: int64
.                     492
142.031495158819        1
122.175433949242        1
120.789441166432        1
120.292950659583        1
                     ...
102.97479595370001      1
101.631166370583        1
100.971705366847        1
100.18869854959699      1
235.65236485524798      1
Name: MNXRSA, Length: 418, dtype: int64
74.678440     469
165.505565      1
161.132003      1
162.106817      1
162.987330      1
             ...
89.856186       1
89.558398       1
89.259598       1
88.739203       1
292.177493      1
Name: NYXRSA, Length: 441, dtype: int64
.                     492
148.872921789012        1
119.789078905468        1
118.11057922259701      1
116.246418035875        1
                     ...
102.27207744081801      1
101.715134796099        1
100.938496649691        1
100.412854529559        1
321.988402221328        1
Name: PHXRSA, Length: 418, dtype: int64
41.304891     469
135.618901      1
132.524918      1
132.390814      1
133.446551      1
             ...
98.737902       1
98.076459       1
97.539532       1
97.091171       1
323.852923      1
Name: POXRSA, Length: 441, dtype: int64
54.794112     469
155.824856      1
151.453891      1
150.911283      1
151.414912      1
             ...
90.105904       1
88.897995       1
88.211815       1
87.706654       1
421.172660      1
Name: SDXRSA, Length: 441, dtype: int64
46.955792     469
133.695942      1
129.223395      1
128.638534      1
129.881639      1
             ...
86.227894       1
85.397755       1
85.164210       1
84.965011       1
351.044352      1
Name: SFXRSA, Length: 441, dtype: int64

In [25]:
df.replace('.','nan')

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA
0,1948-01-01,3.4,63.965,63.103814,nan,66.418966,59.426224,68.547905,nan,74.678440,nan,41.304891,54.794112,46.955792
1,1948-02-01,3.8,63.965,63.103814,nan,66.418966,59.426224,68.547905,nan,74.678440,nan,41.304891,54.794112,46.955792
2,1948-03-01,4.0,63.965,63.103814,nan,66.418966,59.426224,68.547905,nan,74.678440,nan,41.304891,54.794112,46.955792
3,1948-04-01,3.9,63.965,63.103814,nan,66.418966,59.426224,68.547905,nan,74.678440,nan,41.304891,54.794112,46.955792
4,1948-05-01,3.5,63.965,63.103814,nan,66.418966,59.426224,68.547905,nan,74.678440,nan,41.304891,54.794112,46.955792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2023-07-01,3.5,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360
907,2023-08-01,3.8,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972
908,2023-09-01,3.8,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352
909,2023-10-01,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,2023-11-01,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.bfill(axis=None, inplace=True, limit=None, downcast=None)

In [27]:
df.isnull().sum()

DATE         0
UNRATE       0
CSUSHPISA    2
SPCS10RSA    2
DEXRSA       2
LVXRSA       2
LXXRSA       2
MIXRSA       2
MNXRSA       2
NYXRSA       2
PHXRSA       2
POXRSA       2
SDXRSA       2
SFXRSA       2
dtype: int64

In [28]:
df.ffill(axis=None, inplace=True, limit=None, downcast=None)

In [29]:
df.isnull().sum()

DATE         0
UNRATE       0
CSUSHPISA    0
SPCS10RSA    0
DEXRSA       0
LVXRSA       0
LXXRSA       0
MIXRSA       0
MNXRSA       0
NYXRSA       0
PHXRSA       0
POXRSA       0
SDXRSA       0
SFXRSA       0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911 entries, 0 to 910
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       911 non-null    datetime64[ns]
 1   UNRATE     911 non-null    float64
 2   CSUSHPISA  911 non-null    float64
 3   SPCS10RSA  911 non-null    float64
 4   DEXRSA     911 non-null    object
 5   LVXRSA     911 non-null    float64
 6   LXXRSA     911 non-null    float64
 7   MIXRSA     911 non-null    float64
 8   MNXRSA     911 non-null    object
 9   NYXRSA     911 non-null    float64
 10  PHXRSA     911 non-null    object
 11  POXRSA     911 non-null    float64
 12  SDXRSA     911 non-null    float64
 13  SFXRSA     911 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 106.8+ KB

In [31]:
df1=pd.merge(pay_roll,ind_pro)

In [32]:
df1

           DATE  PAYEMS    INDPRO
0    1939-01-01   29923    7.0443
1    1939-02-01   30100    7.0981
2    1939-03-01   30280    7.1250
3    1939-04-01   30094    7.0981
4    1939-05-01   30299    7.0712
...         ...     ...       ...
1013 2023-06-01  156075  102.3030
1014 2023-07-01  156311  103.2670
1015 2023-08-01  156476  103.2927
1016 2023-09-01  156738  103.3643
1017 2023-10-01  156888  102.7081

[1018 rows x 3 columns]

In [33]:
df

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA
0,1948-01-01,3.4,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
1,1948-02-01,3.8,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
2,1948-03-01,4.0,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
3,1948-04-01,3.9,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
4,1948-05-01,3.5,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2023-07-01,3.5,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360
907,2023-08-01,3.8,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972
908,2023-09-01,3.8,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352
909,2023-10-01,3.9,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352
910,2023-11-01,3.7,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352

In [34]:
df2=pd.merge(df,df1)
df2

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO
0,1948-01-01,3.4,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792,44679,14.3306
1,1948-02-01,3.8,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792,44533,14.3575
2,1948-03-01,4.0,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792,44683,14.1962
3,1948-04-01,3.9,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792,44379,14.2231
4,1948-05-01,3.5,63.965,63.103814,.,66.418966,59.426224,68.547905,.,74.678440,.,41.304891,54.794112,46.955792,44796,14.4651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,2023-06-01,3.6,304.593,324.819718,175.130261785276,271.884431,407.927087,410.120920,233.86041710440398,285.709603,313.171320628787,322.023812,406.324569,344.285430,156075,102.3030
906,2023-07-01,3.5,306.767,327.816609,176.34682368590902,274.394586,412.095490,413.992792,234.379218219589,287.619826,316.32081279051397,322.240237,411.493167,345.310360,156311,103.2670
907,2023-08-01,3.8,309.155,330.747478,178.17720761544498,277.326438,417.117759,418.616053,235.25797012758701,289.971472,318.340684666748,323.333915,417.692827,347.802972,156476,103.2927
908,2023-09-01,3.8,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352,156738,103.3643
909,2023-10-01,3.9,311.175,333.074427,180.535270393171,281.363656,419.828683,423.189720,235.65236485524798,292.177493,321.988402221328,323.852923,421.172660,351.044352,156888,102.7081

In [36]:
df3=pd.merge(u_s_h,con_pr)
df3

          DATE  CSUSHPISA_20231031  CSUSHPISA_20231128  CPIAUCSL
0   1989-04-01              75.086              75.086   123.100
1   1989-05-01              75.306              75.306   123.700
2   1989-06-01              75.479              75.479   124.100
3   1989-07-01              75.657              75.657   124.500
4   1989-08-01              75.835              75.835   124.500
..         ...                 ...                 ...       ...
404 2022-12-01             297.471             297.413   298.990
405 2023-01-01             297.025             297.030   300.536
406 2023-02-01             297.464             297.537   301.648
407 2023-03-01             298.539             298.637   301.808
408 2023-04-01             300.198             300.213   302.918

[409 rows x 4 columns]

In [37]:
df4=pd.merge(df2,df3)
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,.,69.997252,93.012292,77.548665,63.083199264998996,83.880871,67.965016446797,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,.,69.788148,94.569357,77.567305,63.184289848384,83.494249,68.06856715849901,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,.,71.554147,95.513465,77.808340,63.742821252381,82.946585,67.695913886388,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,.,71.771789,96.252043,78.042409,63.556228895495,82.171286,67.340460473657,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,.,72.390032,96.662389,78.259921,63.798456057648,81.936148,66.94764413975099,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.70302008352698,276.602762,394.206077,401.095097,228.53452160190201,273.310622,314.85756003009,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725299158,273.921557,393.766142,402.103911,228.335314110221,273.505089,312.47584551367,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693483706,271.856550,395.589945,401.707092,228.380702918818,273.337606,313.113632117602,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463589594908,270.568432,397.076266,402.630034,230.19819190029997,275.537639,311.59306128253104,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099689790881,270.271411,400.831118,403.453187,231.304204703079,278.304896,311.053395691825,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [40]:
df4.replace('.','nan')

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,nan,69.997252,93.012292,77.548665,63.083199264998996,83.880871,67.965016446797,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,nan,69.788148,94.569357,77.567305,63.184289848384,83.494249,68.06856715849901,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,nan,71.554147,95.513465,77.808340,63.742821252381,82.946585,67.695913886388,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,nan,71.771789,96.252043,78.042409,63.556228895495,82.171286,67.340460473657,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,nan,72.390032,96.662389,78.259921,63.798456057648,81.936148,66.94764413975099,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.70302008352698,276.602762,394.206077,401.095097,228.53452160190201,273.310622,314.85756003009,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725299158,273.921557,393.766142,402.103911,228.335314110221,273.505089,312.47584551367,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693483706,271.856550,395.589945,401.707092,228.380702918818,273.337606,313.113632117602,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463589594908,270.568432,397.076266,402.630034,230.19819190029997,275.537639,311.59306128253104,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099689790881,270.271411,400.831118,403.453187,231.304204703079,278.304896,311.053395691825,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [39]:
df4.bfill(axis=None, inplace=True, limit=None, downcast=None)
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,.,69.997252,93.012292,77.548665,63.083199264998996,83.880871,67.965016446797,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,.,69.788148,94.569357,77.567305,63.184289848384,83.494249,68.06856715849901,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,.,71.554147,95.513465,77.808340,63.742821252381,82.946585,67.695913886388,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,.,71.771789,96.252043,78.042409,63.556228895495,82.171286,67.340460473657,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,.,72.390032,96.662389,78.259921,63.798456057648,81.936148,66.94764413975099,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.70302008352698,276.602762,394.206077,401.095097,228.53452160190201,273.310622,314.85756003009,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725299158,273.921557,393.766142,402.103911,228.335314110221,273.505089,312.47584551367,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693483706,271.856550,395.589945,401.707092,228.380702918818,273.337606,313.113632117602,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463589594908,270.568432,397.076266,402.630034,230.19819190029997,275.537639,311.59306128253104,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099689790881,270.271411,400.831118,403.453187,231.304204703079,278.304896,311.053395691825,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [41]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409 entries, 0 to 408
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                409 non-null    datetime64[ns]
 1   UNRATE              409 non-null    float64
 2   CSUSHPISA           409 non-null    float64
 3   SPCS10RSA           409 non-null    float64
 4   DEXRSA              409 non-null    object
 5   LVXRSA              409 non-null    float64
 6   LXXRSA              409 non-null    float64
 7   MIXRSA              409 non-null    float64
 8   MNXRSA              409 non-null    object
 9   NYXRSA              409 non-null    float64
 10  PHXRSA              409 non-null    object
 11  POXRSA              409 non-null    float64
 12  SDXRSA              409 non-null    float64
 13  SFXRSA              409 non-null    float64
 14  PAYEMS              409 non-null    int64
 15  INDPRO              409 non-null    float64
 16  CSUSHPISA_20231031  409 non-null    float64
 17  CSUSHPISA_20231128  409 non-null    float64
 18  CPIAUCSL            409 non-null    float64
dtypes: datetime64[ns](1), float64(14), int64(1), object(3)
memory usage: 63.9+ KB

In [43]:
for i in df4.columns:
    print(df4[i].value_counts())

1989-04-01    1
2011-09-01    1
2012-07-01    1
2012-06-01    1
2012-05-01    1
             ..
2000-06-01    1
2000-05-01    1
2000-04-01    1
2000-03-01    1
2023-04-01    1
Name: DATE, Length: 409, dtype: int64
5.4    18
5.6    17
5.0    15
4.7    15
5.2    14
       ..
8.1     1
8.5     1
8.6     1
8.8     1
8.7     1
Name: UNRATE, Length: 68, dtype: int64
76.056     2
75.086     1
137.952    1
142.279    1
141.669    1
          ..
105.054    1
104.424    1
103.678    1
102.922    1
300.213    1
Name: CSUSHPISA, Length: 408, dtype: int64
80.441948     1
152.833801    1
154.503094    1
153.578835    1
152.043904    1
             ..
107.335543    1
106.011979    1
104.530843    1
103.154350    1
318.533061    1
Name: SPCS10RSA, Length: 409, dtype: int64
.                     21
66.867495727982        1
82.45419792057601      1
82.237265947706        1
81.32629105730099      1
                      ..
109.66103782456601     1
109.142066853937       1
108.849526785168       1
108.39036974905001     1
172.099689790881       1
Name: DEXRSA, Length: 389, dtype: int64
69.997252     1
92.975066     1
94.119041     1
93.808380     1
92.854355     1
             ..
102.278477    1
102.046929    1
101.595700    1
101.437483    1
270.271411    1
Name: LVXRSA, Length: 409, dtype: int64
93.012292     1
165.727529    1
168.659326    1
167.253352    1
165.539924    1
             ..
105.693407    1
104.924698    1
104.159399    1
103.224699    1
400.831118    1
Name: LXXRSA, Length: 409, dtype: int64
77.548665     1
138.565275    1
147.042141    1
145.308051    1
143.644039    1
             ..
103.405795    1
102.752969    1
102.011263    1
101.086462    1
403.453187    1
Name: MIXRSA, Length: 409, dtype: int64
63.083199264998996    1
112.16436514916599    1
120.292950659583      1
117.94499894673599    1
115.41924367242201    1
                     ..
105.609848418257      1
104.40668286090299    1
102.97479595370001    1
101.631166370583      1
231.304204703079      1
Name: MNXRSA, Length: 409, dtype: int64
83.880871     1
166.949948    1
162.594386    1
162.560495    1
161.720646    1
             ..
106.064699    1
104.915869    1
103.132504    1
102.060631    1
278.304896    1
Name: NYXRSA, Length: 409, dtype: int64
67.965016446797       1
99.39376395949499     1
116.246418035875      1
114.172547996335      1
112.176744526442      1
                     ..
103.70345436314899    1
102.989035626929      1
102.27207744081801    1
101.715134796099      1
311.053395691825      1
Name: PHXRSA, Length: 409, dtype: int64
45.350052     1
134.087443    1
137.549310    1
137.035405    1
134.746438    1
             ..
102.189657    1
102.075554    1
102.176641    1
101.555933    1
319.965528    1
Name: POXRSA, Length: 409, dtype: int64
75.805260     1
151.979263    1
154.472327    1
153.563976    1
152.813613    1
             ..
108.967210    1
107.134849    1
105.707104    1
104.090945    1
394.977930    1
Name: SDXRSA, Length: 409, dtype: int64
66.696526     1
131.008179    1
138.279726    1
136.280358    1
133.560489    1
             ..
116.815106    1
113.800513    1
110.632994    1
107.337223    1
338.880186    1
Name: SFXRSA, Length: 409, dtype: int64
108301    2
131936    2
134512    1
134330    1
134153    1
         ..
132060    1
132106    1
131884    1
131605    1
155689    1
Name: PAYEMS, Length: 407, dtype: int64
62.0424     1
95.0281     1
97.6922     1
97.4959     1
97.4853     1
           ..
93.0076     1
92.9376     1
92.6838     1
92.0933     1
103.1512    1
Name: INDPRO, Length: 409, dtype: int64
76.056     2
75.086     1
137.952    1
142.279    1
141.669    1
          ..
105.054    1
104.424    1
103.678    1
102.922    1
300.198    1
Name: CSUSHPISA_20231031, Length: 408, dtype: int64
76.056     2
75.086     1
137.952    1
142.279    1
141.669    1
          ..
105.054    1
104.424    1
103.678    1
102.922    1
300.213    1
Name: CSUSHPISA_20231128, Length: 408, dtype: int64
162.000    3
177.400    3
159.900    2
224.806    2
177.700    2
          ..
175.600    1
174.600    1
174.200    1
173.900    1
302.918    1
Name: CPIAUCSL, Length: 392, dtype: int64

In [44]:
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,.,69.997252,93.012292,77.548665,63.083199264998996,83.880871,67.965016446797,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,.,69.788148,94.569357,77.567305,63.184289848384,83.494249,68.06856715849901,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,.,71.554147,95.513465,77.808340,63.742821252381,82.946585,67.695913886388,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,.,71.771789,96.252043,78.042409,63.556228895495,82.171286,67.340460473657,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,.,72.390032,96.662389,78.259921,63.798456057648,81.936148,66.94764413975099,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.70302008352698,276.602762,394.206077,401.095097,228.53452160190201,273.310622,314.85756003009,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725299158,273.921557,393.766142,402.103911,228.335314110221,273.505089,312.47584551367,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693483706,271.856550,395.589945,401.707092,228.380702918818,273.337606,313.113632117602,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463589594908,270.568432,397.076266,402.630034,230.19819190029997,275.537639,311.59306128253104,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099689790881,270.271411,400.831118,403.453187,231.304204703079,278.304896,311.053395691825,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [52]:
df4["DEXRSA"].replace(".","nan",inplace=True)

In [53]:
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,nan,69.997252,93.012292,77.548665,63.083199264998996,83.880871,67.965016446797,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,nan,69.788148,94.569357,77.567305,63.184289848384,83.494249,68.06856715849901,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,nan,71.554147,95.513465,77.808340,63.742821252381,82.946585,67.695913886388,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,nan,71.771789,96.252043,78.042409,63.556228895495,82.171286,67.340460473657,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,nan,72.390032,96.662389,78.259921,63.798456057648,81.936148,66.94764413975099,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.70302008352698,276.602762,394.206077,401.095097,228.53452160190201,273.310622,314.85756003009,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725299158,273.921557,393.766142,402.103911,228.335314110221,273.505089,312.47584551367,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693483706,271.856550,395.589945,401.707092,228.380702918818,273.337606,313.113632117602,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463589594908,270.568432,397.076266,402.630034,230.19819190029997,275.537639,311.59306128253104,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099689790881,270.271411,400.831118,403.453187,231.304204703079,278.304896,311.053395691825,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [60]:
df4["DEXRSA"].value_counts()

nan                   21
66.867495727982        1
82.45419792057601      1
82.237265947706        1
81.32629105730099      1
                      ..
109.66103782456601     1
109.142066853937       1
108.849526785168       1
108.39036974905001     1
172.099689790881       1
Name: DEXRSA, Length: 389, dtype: int64

In [63]:
df4.dtypes

DATE                  datetime64[ns]
UNRATE                       float64
CSUSHPISA                    float64
SPCS10RSA                    float64
DEXRSA                        object
LVXRSA                       float64
LXXRSA                       float64
MIXRSA                       float64
MNXRSA                        object
NYXRSA                       float64
PHXRSA                        object
POXRSA                       float64
SDXRSA                       float64
SFXRSA                       float64
PAYEMS                         int64
INDPRO                       float64
CSUSHPISA_20231031           float64
CSUSHPISA_20231128           float64
CPIAUCSL                     float64
dtype: object

In [66]:
df4["DEXRSA"]=df4["DEXRSA"].astype(float)
df4["MNXRSA"]=df4["MNXRSA"].astype(float)
df4["PHXRSA"]=df4["PHXRSA"].astype(float)
df4.dtypes

DATE                  datetime64[ns]
UNRATE                       float64
CSUSHPISA                    float64
SPCS10RSA                    float64
DEXRSA                       float64
LVXRSA                       float64
LXXRSA                       float64
MIXRSA                       float64
MNXRSA                       float64
NYXRSA                       float64
PHXRSA                       float64
POXRSA                       float64
SDXRSA                       float64
SFXRSA                       float64
PAYEMS                         int64
INDPRO                       float64
CSUSHPISA_20231031           float64
CSUSHPISA_20231128           float64
CPIAUCSL                     float64
dtype: object

In [68]:
df4["DEXRSA"]=df4["DEXRSA"].replace(".","nan")

In [70]:
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,NaN,69.997252,93.012292,77.548665,63.083199,83.880871,67.965016,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,NaN,69.788148,94.569357,77.567305,63.184290,83.494249,68.068567,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,NaN,71.554147,95.513465,77.808340,63.742821,82.946585,67.695914,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,NaN,71.771789,96.252043,78.042409,63.556229,82.171286,67.340460,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,NaN,72.390032,96.662389,78.259921,63.798456,81.936148,66.947644,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.703020,276.602762,394.206077,401.095097,228.534522,273.310622,314.857560,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725,273.921557,393.766142,402.103911,228.335314,273.505089,312.475846,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693,271.856550,395.589945,401.707092,228.380703,273.337606,313.113632,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463590,270.568432,397.076266,402.630034,230.198192,275.537639,311.593061,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099690,270.271411,400.831118,403.453187,231.304205,278.304896,311.053396,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [71]:
df4.bfill(axis=None, inplace=True, limit=None, downcast=None)
df4

,DATE,UNRATE,CSUSHPISA,SPCS10RSA,DEXRSA,LVXRSA,LXXRSA,MIXRSA,MNXRSA,NYXRSA,PHXRSA,POXRSA,SDXRSA,SFXRSA,PAYEMS,INDPRO,CSUSHPISA_20231031,CSUSHPISA_20231128,CPIAUCSL
0,1989-04-01,5.2,75.086,80.441948,58.420806,69.997252,93.012292,77.548665,63.083199,83.880871,67.965016,45.350052,75.805260,66.696526,107791,62.0424,75.086,75.086,123.100
1,1989-05-01,5.2,75.306,80.831878,58.420806,69.788148,94.569357,77.567305,63.184290,83.494249,68.068567,45.612780,77.050350,67.703284,107913,61.6948,75.306,75.306,123.700
2,1989-06-01,5.3,75.479,81.073507,58.420806,71.554147,95.513465,77.808340,63.742821,82.946585,67.695914,46.019388,78.136649,68.784367,108027,61.6915,75.479,75.479,124.100
3,1989-07-01,5.2,75.657,81.139316,58.420806,71.771789,96.252043,78.042409,63.556229,82.171286,67.340460,46.255814,79.030234,69.591281,108069,61.0978,75.657,75.657,124.500
4,1989-08-01,5.2,75.835,81.403008,58.420806,72.390032,96.662389,78.259921,63.798456,81.936148,66.947644,46.586600,80.095191,70.715738,108120,61.6949,75.835,75.835,124.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2022-12-01,3.5,297.413,314.634797,168.703020,276.602762,394.206077,401.095097,228.534522,273.310622,314.857560,320.333047,389.051447,338.415619,154535,101.4848,297.471,297.413,298.990
405,2023-01-01,3.4,297.030,314.093523,168.612725,273.921557,393.766142,402.103911,228.335314,273.505089,312.475846,318.247338,387.594795,336.000256,155007,102.5478,297.025,297.030,300.536
406,2023-02-01,3.6,297.537,314.426445,168.162693,271.856550,395.589945,401.707092,228.380703,273.337606,313.113632,317.298507,388.105232,334.937381,155255,102.5671,297.464,297.537,301.648
407,2023-03-01,3.5,298.637,315.906003,170.463590,270.568432,397.076266,402.630034,230.198192,275.537639,311.593061,317.732074,391.126331,336.297140,155472,102.6592,298.539,298.637,301.808
408,2023-04-01,3.4,300.213,318.533061,172.099690,270.271411,400.831118,403.453187,231.304205,278.304896,311.053396,319.965528,394.977930,338.880186,155689,103.1512,300.198,300.213,302.918

In [72]:
df4.isnull().sum()

DATE                  0
UNRATE                0
CSUSHPISA             0
SPCS10RSA             0
DEXRSA                0
LVXRSA                0
LXXRSA                0
MIXRSA                0
MNXRSA                0
NYXRSA                0
PHXRSA                0
POXRSA                0
SDXRSA                0
SFXRSA                0
PAYEMS                0
INDPRO                0
CSUSHPISA_20231031    0
CSUSHPISA_20231128    0
CPIAUCSL              0
dtype: int64

In [74]:
df4.columns

Index(['DATE', 'UNRATE', 'CSUSHPISA', 'SPCS10RSA', 'DEXRSA', 'LVXRSA',
       'LXXRSA', 'MIXRSA', 'MNXRSA', 'NYXRSA', 'PHXRSA', 'POXRSA', 'SDXRSA',
       'SFXRSA', 'PAYEMS', 'INDPRO', 'CSUSHPISA_20231031',
       'CSUSHPISA_20231128', 'CPIAUCSL'],
      dtype='object')

In [75]:
df4.shape

(409, 19)

In [ ]:
Dataset Description:

DATE:The Date of the house price collected

UNRATE:unemployment rate on the certain date at which house price collected

CSUSHPISA:National home price index

In [ ]:
SPCS10RSA:

In [73]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409 entries, 0 to 408
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                409 non-null    datetime64[ns]
 1   UNRATE              409 non-null    float64
 2   CSUSHPISA           409 non-null    float64
 3   SPCS10RSA           409 non-null    float64
 4   DEXRSA              409 non-null    float64
 5   LVXRSA              409 non-null    float64
 6   LXXRSA              409 non-null    float64
 7   MIXRSA              409 non-null    float64
 8   MNXRSA              409 non-null    float64
 9   NYXRSA              409 non-null    float64
 10  PHXRSA              409 non-null    float64
 11  POXRSA              409 non-null    float64
 12  SDXRSA              409 non-null    float64
 13  SFXRSA              409 non-null    float64
 14  PAYEMS              409 non-null    int64
 15  INDPRO              409 non-null    float64
 16  CSUSHPISA_20231031  409 non-null    float64
 17  CSUSHPISA_20231128  409 non-null    float64
 18  CPIAUCSL            409 non-null    float64
dtypes: datetime64[ns](1), float64(17), int64(1)
memory usage: 63.9 KB